In [5]:
import pandas as pd

In [17]:
import seaborn as sns

In [18]:
import numpy as np

In [59]:
data = pd.read_csv(r'C:\Users\pc\Desktop\Pakistan_Health_Data.csv')

In [23]:
data

,Hospital Name,Patient Name,Age,Gender,Date of Admission,Date of Discharge,Disease,Treatment Cost,Insurance,Blood Group,Height (cm),Weight (kg),Contact Number,City,Province
0,Indus Hospital,Noman Chaudhry,58,Female,2023-05-22,2023-03-25,Malaria,24570,Yes,O+,151,117,37977648810,Peshawar,Khyber Pakhtunkhwa
1,Civil Hospital Karachi,Mahnoor Qureshi,96,Female,2023-01-18,2023-04-08,COVID-19,220466,No,O+,196,117,36007550511,Rawalpindi,Punjab
2,Shaikh Zayed Hospital,Hira Ansari,64,Male,2023-01-05,2023-03-25,Diabetes,280817,Yes,A-,185,111,31638461648,Karachi,Khyber Pakhtunkhwa
3,Indus Hospital,Daniyal Ansari,47,Female,2023-11-28,2023-09-27,Cancer,219838,Yes,B+,197,96,31044609168,Rawalpindi,Sindh
4,Civil Hospital Karachi,Ali Butt,80,Male,2023-07-06,2023-10-26,Cancer,318043,Yes,A+,174,112,32720530918,Karachi,Balochistan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,Civil Hospital Karachi,Sara Farooqi,96,Female,2023-12-16,2023-10-22,Diabetes,336872,No,B+,181,78,35202879767,Rawalpindi,Sindh
1996,Services Hospital,Usman Khan,28,Female,2023-05-07,2023-07-25,Diabetes,495301,Yes,O+,177,80,31581509478,Multan,Punjab
1997,Nishtar Hospital,Amina Qureshi,98,Female,2023-09-11,2023-06-03,COVID-19,136213,Yes,B+,163,88,37870570657,Rawalpindi,Punjab
1998,Pakistan Institute of Medical Sciences,Hassan Farooqi,60,Male,2023-12-27,2023-09-11,Tuberculosis,338865,Yes,O+,151,116,38390114480,Quetta,Khyber Pakhtunkhwa
1999,Aga Khan University Hospital,Daniyal Siddiqui,46,Female,2023-10-15,2023-06-19,COVID-19,135737,Yes,O-,200,86,37952117014,Quetta,Punjab

In [37]:
data['Hospital Name']

0                               Indus Hospital
1                       Civil Hospital Karachi
2                        Shaikh Zayed Hospital
3                               Indus Hospital
4                       Civil Hospital Karachi
                         ...
1995                    Civil Hospital Karachi
1996                         Services Hospital
1997                          Nishtar Hospital
1998    Pakistan Institute of Medical Sciences
1999              Aga Khan University Hospital
Name: Hospital Name, Length: 2000, dtype: object

In [41]:
data.filter(like = 'Hospital Name')

                               Hospital Name
0                             Indus Hospital
1                     Civil Hospital Karachi
2                      Shaikh Zayed Hospital
3                             Indus Hospital
4                     Civil Hospital Karachi
...                                      ...
1995                  Civil Hospital Karachi
1996                       Services Hospital
1997                        Nishtar Hospital
1998  Pakistan Institute of Medical Sciences
1999            Aga Khan University Hospital

[2000 rows x 1 columns]

In [43]:
data.head()

,Hospital Name,Patient Name,Age,Gender,Date of Admission,Date of Discharge,Disease,Treatment Cost,Insurance,Blood Group,Height (cm),Weight (kg),Contact Number,City,Province
0,Indus Hospital,Noman Chaudhry,58,Female,2023-05-22,2023-03-25,Malaria,24570,Yes,O+,151,117,37977648810,Peshawar,Khyber Pakhtunkhwa
1,Civil Hospital Karachi,Mahnoor Qureshi,96,Female,2023-01-18,2023-04-08,COVID-19,220466,No,O+,196,117,36007550511,Rawalpindi,Punjab
2,Shaikh Zayed Hospital,Hira Ansari,64,Male,2023-01-05,2023-03-25,Diabetes,280817,Yes,A-,185,111,31638461648,Karachi,Khyber Pakhtunkhwa
3,Indus Hospital,Daniyal Ansari,47,Female,2023-11-28,2023-09-27,Cancer,219838,Yes,B+,197,96,31044609168,Rawalpindi,Sindh
4,Civil Hospital Karachi,Ali Butt,80,Male,2023-07-06,2023-10-26,Cancer,318043,Yes,A+,174,112,32720530918,Karachi,Balochistan

In [45]:
data.tail()

,Hospital Name,Patient Name,Age,Gender,Date of Admission,Date of Discharge,Disease,Treatment Cost,Insurance,Blood Group,Height (cm),Weight (kg),Contact Number,City,Province
1995,Civil Hospital Karachi,Sara Farooqi,96,Female,2023-12-16,2023-10-22,Diabetes,336872,No,B+,181,78,35202879767,Rawalpindi,Sindh
1996,Services Hospital,Usman Khan,28,Female,2023-05-07,2023-07-25,Diabetes,495301,Yes,O+,177,80,31581509478,Multan,Punjab
1997,Nishtar Hospital,Amina Qureshi,98,Female,2023-09-11,2023-06-03,COVID-19,136213,Yes,B+,163,88,37870570657,Rawalpindi,Punjab
1998,Pakistan Institute of Medical Sciences,Hassan Farooqi,60,Male,2023-12-27,2023-09-11,Tuberculosis,338865,Yes,O+,151,116,38390114480,Quetta,Khyber Pakhtunkhwa
1999,Aga Khan University Hospital,Daniyal Siddiqui,46,Female,2023-10-15,2023-06-19,COVID-19,135737,Yes,O-,200,86,37952117014,Quetta,Punjab

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Hospital Name      2000 non-null   object
 1   Patient Name       2000 non-null   object
 2   Age                2000 non-null   int64
 3   Gender             2000 non-null   object
 4   Date of Admission  2000 non-null   object
 5   Date of Discharge  2000 non-null   object
 6   Disease            2000 non-null   object
 7   Treatment Cost     2000 non-null   int64
 8   Insurance          2000 non-null   object
 9   Blood Group        2000 non-null   object
 10  Height (cm)        2000 non-null   int64
 11  Weight (kg)        2000 non-null   int64
 12  Contact Number     2000 non-null   int64
 13  City               2000 non-null   object
 14  Province           2000 non-null   object
dtypes: int64(5), object(10)
memory usage: 234.5+ KB

In [49]:
data.describe()

               Age  Treatment Cost  Height (cm)  Weight (kg)  Contact Number
count  2000.000000      2000.00000   2000.00000  2000.000000    2.000000e+03
mean     50.567500    248132.64150    170.30650    79.729500    3.547818e+10
std      28.741511    143060.71777     17.53095    23.240103    2.591425e+09
min       1.000000      5490.00000    140.00000    40.000000    3.100469e+10
25%      26.000000    125021.25000    156.00000    60.000000    3.326739e+10
50%      50.500000    244626.50000    170.00000    79.000000    3.545759e+10
75%      74.000000    366660.50000    185.00000    99.000000    3.775718e+10
max     100.000000    499805.00000    200.00000   120.000000    3.999876e+10

In [51]:
data.columns

Index(['Hospital Name', 'Patient Name', 'Age', 'Gender', 'Date of Admission',
       'Date of Discharge', 'Disease', 'Treatment Cost', 'Insurance',
       'Blood Group', 'Height (cm)', 'Weight (kg)', 'Contact Number', 'City',
       'Province'],
      dtype='object')

In [53]:
data.index

RangeIndex(start=0, stop=2000, step=1)

In [55]:
data['Hospital Name']

0                               Indus Hospital
1                       Civil Hospital Karachi
2                        Shaikh Zayed Hospital
3                               Indus Hospital
4                       Civil Hospital Karachi
                         ...
1995                    Civil Hospital Karachi
1996                         Services Hospital
1997                          Nishtar Hospital
1998    Pakistan Institute of Medical Sciences
1999              Aga Khan University Hospital
Name: Hospital Name, Length: 2000, dtype: object

In [57]:
data.values

array([['Indus Hospital', 'Noman Chaudhry', 58, ..., 37977648810,
        'Peshawar', 'Khyber Pakhtunkhwa'],
       ['Civil Hospital Karachi', 'Mahnoor Qureshi', 96, ...,
        36007550511, 'Rawalpindi', 'Punjab'],
       ['Shaikh Zayed Hospital', 'Hira Ansari', 64, ..., 31638461648,
        'Karachi', 'Khyber Pakhtunkhwa'],
       ...,
       ['Nishtar Hospital', 'Amina Qureshi', 98, ..., 37870570657,
        'Rawalpindi', 'Punjab'],
       ['Pakistan Institute of Medical Sciences', 'Hassan Farooqi', 60,
        ..., 38390114480, 'Quetta', 'Khyber Pakhtunkhwa'],
       ['Aga Khan University Hospital', 'Daniyal Siddiqui', 46, ...,
        37952117014, 'Quetta', 'Punjab']], dtype=object)

In [67]:
data.loc[0:4]

,Hospital Name,Patient Name,Age,Gender,Date of Admission,Date of Discharge,Disease,Treatment Cost,Insurance,Blood Group,Height (cm),Weight (kg),Contact Number,City,Province
0,Indus Hospital,Noman Chaudhry,58,Female,2023-05-22,2023-03-25,Malaria,24570,Yes,O+,151,117,37977648810,Peshawar,Khyber Pakhtunkhwa
1,Civil Hospital Karachi,Mahnoor Qureshi,96,Female,2023-01-18,2023-04-08,COVID-19,220466,No,O+,196,117,36007550511,Rawalpindi,Punjab
2,Shaikh Zayed Hospital,Hira Ansari,64,Male,2023-01-05,2023-03-25,Diabetes,280817,Yes,A-,185,111,31638461648,Karachi,Khyber Pakhtunkhwa
3,Indus Hospital,Daniyal Ansari,47,Female,2023-11-28,2023-09-27,Cancer,219838,Yes,B+,197,96,31044609168,Rawalpindi,Sindh
4,Civil Hospital Karachi,Ali Butt,80,Male,2023-07-06,2023-10-26,Cancer,318043,Yes,A+,174,112,32720530918,Karachi,Balochistan

In [75]:
data.iloc[0:4,1:4]

      Patient Name  Age  Gender
0   Noman Chaudhry   58  Female
1  Mahnoor Qureshi   96  Female
2      Hira Ansari   64    Male
3   Daniyal Ansari   47  Female

In [77]:
data.dtypes

Hospital Name        object
Patient Name         object
Age                   int64
Gender               object
Date of Admission    object
Date of Discharge    object
Disease              object
Treatment Cost        int64
Insurance            object
Blood Group          object
Height (cm)           int64
Weight (kg)           int64
Contact Number        int64
City                 object
Province             object
dtype: object

In [83]:
data['Age'].median()

50.5

In [85]:
data['Age'].sum()

101135

In [87]:
data['Age'].mean()

50.5675

In [91]:
data['Hospital Name'].value_counts()

Hospital Name
Lady Reading Hospital                      165
Pakistan Institute of Medical Sciences     147
Holy Family Hospital                       145
Shifa International Hospital               140
Punjab Institute of Cardiology             138
Aga Khan University Hospital               134
Mayo Hospital                              134
Shaukat Khanum Memorial Cancer Hospital    134
Indus Hospital                             131
Civil Hospital Karachi                     130
Liaquat National Hospital                  128
Shaikh Zayed Hospital                      123
Jinnah Postgraduate Medical Centre         122
Services Hospital                          118
Nishtar Hospital                           111
Name: count, dtype: int64

In [93]:
data['Hospital Name'].sort_values()

1999    Aga Khan University Hospital
936     Aga Khan University Hospital
932     Aga Khan University Hospital
1703    Aga Khan University Hospital
370     Aga Khan University Hospital
                    ...
649     Shifa International Hospital
1803    Shifa International Hospital
643     Shifa International Hospital
1374    Shifa International Hospital
291     Shifa International Hospital
Name: Hospital Name, Length: 2000, dtype: object

In [9]:
data['Age'].unique()

array([ 58,  96,  64,  47,  80,  17,  49,  38,  33,  81,  98,  20,  24,
         8,  13,  48,  54,  57,  31,   4,  52,  89,   3,  35,  22,  62,
        12,  50,  61,  43,  85,  16,  59,  21,  67,  84,  69,  63,  87,
        45,  79,  94,  29,   2,  18,  53,  97,  40,  88, 100,  95,  10,
        65,  70,   1,  42,  41,  73,  37,  14,  75,  34,  92,  56,  82,
        55,  26,  93,  91,  71,  68,  66,  51,  28,  44,  32,  72,  60,
        90,  76,  78,  77,  30,  23,  39,  11,  27,   7,  25,  86,  74,
        15,   5,   9,  99,  36,  19,   6,  46,  83], dtype=int64)

In [115]:
data['Age'].describe()

count    2000.000000
mean       50.567500
std        28.741511
min         1.000000
25%        26.000000
50%        50.500000
75%        74.000000
max       100.000000
Name: Age, dtype: float64

In [117]:
data['Age']+10

0        68
1       106
2        74
3        57
4        90
       ...
1995    106
1996     38
1997    108
1998     70
1999     56
Name: Age, Length: 2000, dtype: int64

In [119]:
data['Age']-5

0       53
1       91
2       59
3       42
4       75
        ..
1995    91
1996    23
1997    93
1998    55
1999    41
Name: Age, Length: 2000, dtype: int64

In [121]:
data['Age']*2

0       116
1       192
2       128
3        94
4       160
       ...
1995    192
1996     56
1997    196
1998    120
1999     92
Name: Age, Length: 2000, dtype: int64

In [123]:
data['Age']/4

0       14.50
1       24.00
2       16.00
3       11.75
4       20.00
        ...
1995    24.00
1996     7.00
1997    24.50
1998    15.00
1999    11.50
Name: Age, Length: 2000, dtype: float64

In [125]:
data['Age']**2

0       3364
1       9216
2       4096
3       2209
4       6400
        ...
1995    9216
1996     784
1997    9604
1998    3600
1999    2116
Name: Age, Length: 2000, dtype: int64

In [129]:
data['Age'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
1995    False
1996    False
1997    False
1998    False
1999    False
Name: Age, Length: 2000, dtype: bool

In [133]:
data['Age'].astype

<bound method NDFrame.astype of 0       58
1       96
2       64
3       47
4       80
        ..
1995    96
1996    28
1997    98
1998    60
1999    46
Name: Age, Length: 2000, dtype: int64>

In [135]:
data['Age'] == 89

0       False
1       False
2       False
3       False
4       False
        ...
1995    False
1996    False
1997    False
1998    False
1999    False
Name: Age, Length: 2000, dtype: bool

In [137]:
data['Age'] != 89

0       True
1       True
2       True
3       True
4       True
        ...
1995    True
1996    True
1997    True
1998    True
1999    True
Name: Age, Length: 2000, dtype: bool

In [139]:
data['Age'] > 19

0       True
1       True
2       True
3       True
4       True
        ...
1995    True
1996    True
1997    True
1998    True
1999    True
Name: Age, Length: 2000, dtype: bool

In [141]:
data['Age'] <80

0        True
1       False
2        True
3        True
4       False
        ...
1995    False
1996     True
1997    False
1998     True
1999     True
Name: Age, Length: 2000, dtype: bool

In [143]:
data['Age'] >= 89

0       False
1        True
2       False
3       False
4       False
        ...
1995     True
1996    False
1997     True
1998    False
1999    False
Name: Age, Length: 2000, dtype: bool

In [145]:
data['Age'] <= 89

0        True
1       False
2        True
3        True
4        True
        ...
1995    False
1996     True
1997    False
1998     True
1999     True
Name: Age, Length: 2000, dtype: bool

In [29]:
data.set_index('Weight (kg)')

,Hospital Name,Patient Name,Age,Gender,Date of Admission,Date of Discharge,Problem,Treatment Cost,Insurance,Blood Group,Height (cm),Contact Number,City,Province
Weight (kg),,,,,,,,,,,,,,
117,Indus Hospital,Noman Chaudhry,58,Female,2023-05-22,2023-03-25,Malaria,24570,Yes,O+,151,37977648810,Peshawar,Khyber Pakhtunkhwa
117,Civil Hospital Karachi,Mahnoor Qureshi,96,Female,2023-01-18,2023-04-08,COVID-19,220466,No,O+,196,36007550511,Rawalpindi,Punjab
111,Shaikh Zayed Hospital,Hira Ansari,64,Male,2023-01-05,2023-03-25,Diabetes,280817,Yes,A-,185,31638461648,Karachi,Khyber Pakhtunkhwa
96,Indus Hospital,Daniyal Ansari,47,Female,2023-11-28,2023-09-27,Cancer,219838,Yes,B+,197,31044609168,Rawalpindi,Sindh
112,Civil Hospital Karachi,Ali Butt,80,Male,2023-07-06,2023-10-26,Cancer,318043,Yes,A+,174,32720530918,Karachi,Balochistan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,Civil Hospital Karachi,Sara Farooqi,96,Female,2023-12-16,2023-10-22,Diabetes,336872,No,B+,181,35202879767,Rawalpindi,Sindh
80,Services Hospital,Usman Khan,28,Female,2023-05-07,2023-07-25,Diabetes,495301,Yes,O+,177,31581509478,Multan,Punjab
88,Nishtar Hospital,Amina Qureshi,98,Female,2023-09-11,2023-06-03,COVID-19,136213,Yes,B+,163,37870570657,Rawalpindi,Punjab
116,Pakistan Institute of Medical Sciences,Hassan Farooqi,60,Male,2023-12-27,2023-09-11,Tuberculosis,338865,Yes,O+,151,38390114480,Quetta,Khyber Pakhtunkhwa
86,Aga Khan University Hospital,Daniyal Siddiqui,46,Female,2023-10-15,2023-06-19,COVID-19,135737,Yes,O-,200,37952117014,Quetta,Punjab

In [27]:
data

,Hospital Name,Patient Name,Age,Gender,Date of Admission,Date of Discharge,Problem,Treatment Cost,Insurance,Blood Group,Height (cm),Weight (kg),Contact Number,City,Province
0,Indus Hospital,Noman Chaudhry,58,Female,2023-05-22,2023-03-25,Malaria,24570,Yes,O+,151,117,37977648810,Peshawar,Khyber Pakhtunkhwa
1,Civil Hospital Karachi,Mahnoor Qureshi,96,Female,2023-01-18,2023-04-08,COVID-19,220466,No,O+,196,117,36007550511,Rawalpindi,Punjab
2,Shaikh Zayed Hospital,Hira Ansari,64,Male,2023-01-05,2023-03-25,Diabetes,280817,Yes,A-,185,111,31638461648,Karachi,Khyber Pakhtunkhwa
3,Indus Hospital,Daniyal Ansari,47,Female,2023-11-28,2023-09-27,Cancer,219838,Yes,B+,197,96,31044609168,Rawalpindi,Sindh
4,Civil Hospital Karachi,Ali Butt,80,Male,2023-07-06,2023-10-26,Cancer,318043,Yes,A+,174,112,32720530918,Karachi,Balochistan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,Civil Hospital Karachi,Sara Farooqi,96,Female,2023-12-16,2023-10-22,Diabetes,336872,No,B+,181,78,35202879767,Rawalpindi,Sindh
1996,Services Hospital,Usman Khan,28,Female,2023-05-07,2023-07-25,Diabetes,495301,Yes,O+,177,80,31581509478,Multan,Punjab
1997,Nishtar Hospital,Amina Qureshi,98,Female,2023-09-11,2023-06-03,COVID-19,136213,Yes,B+,163,88,37870570657,Rawalpindi,Punjab
1998,Pakistan Institute of Medical Sciences,Hassan Farooqi,60,Male,2023-12-27,2023-09-11,Tuberculosis,338865,Yes,O+,151,116,38390114480,Quetta,Khyber Pakhtunkhwa
1999,Aga Khan University Hospital,Daniyal Siddiqui,46,Female,2023-10-15,2023-06-19,COVID-19,135737,Yes,O-,200,86,37952117014,Quetta,Punjab

In [43]:
x = data.rename(columns={'Disease': 'Problem'})
x

,Hospital Name,Patient Name,Age,Gender,Date of Admission,Date of Discharge,Problem,Treatment Cost,Insurance,Blood Group,Height (cm),Weight (kg),Contact Number,City,Province
0,Indus Hospital,Noman Chaudhry,58,Female,2023-05-22,2023-03-25,Malaria,24570,Yes,O+,151,117,37977648810,Peshawar,Khyber Pakhtunkhwa
1,Civil Hospital Karachi,Mahnoor Qureshi,96,Female,2023-01-18,2023-04-08,COVID-19,220466,No,O+,196,117,36007550511,Rawalpindi,Punjab
2,Shaikh Zayed Hospital,Hira Ansari,64,Male,2023-01-05,2023-03-25,Diabetes,280817,Yes,A-,185,111,31638461648,Karachi,Khyber Pakhtunkhwa
3,Indus Hospital,Daniyal Ansari,47,Female,2023-11-28,2023-09-27,Cancer,219838,Yes,B+,197,96,31044609168,Rawalpindi,Sindh
4,Civil Hospital Karachi,Ali Butt,80,Male,2023-07-06,2023-10-26,Cancer,318043,Yes,A+,174,112,32720530918,Karachi,Balochistan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,Civil Hospital Karachi,Sara Farooqi,96,Female,2023-12-16,2023-10-22,Diabetes,336872,No,B+,181,78,35202879767,Rawalpindi,Sindh
1996,Services Hospital,Usman Khan,28,Female,2023-05-07,2023-07-25,Diabetes,495301,Yes,O+,177,80,31581509478,Multan,Punjab
1997,Nishtar Hospital,Amina Qureshi,98,Female,2023-09-11,2023-06-03,COVID-19,136213,Yes,B+,163,88,37870570657,Rawalpindi,Punjab
1998,Pakistan Institute of Medical Sciences,Hassan Farooqi,60,Male,2023-12-27,2023-09-11,Tuberculosis,338865,Yes,O+,151,116,38390114480,Quetta,Khyber Pakhtunkhwa
1999,Aga Khan University Hospital,Daniyal Siddiqui,46,Female,2023-10-15,2023-06-19,COVID-19,135737,Yes,O-,200,86,37952117014,Quetta,Punjab

In [57]:
data.rename(index={0: 'Sara Farooqi', 1: 'Usman Khan',2: 'Hassan Farooqi',3: 'Daniyal Siddiqui', 4: 'Ali Butt'}).head()

,Hospital Name,Patient Name,Age,Gender,Date of Admission,Date of Discharge,Problem,Treatment Cost,Insurance,Blood Group,Height (cm),Weight (kg),Contact Number,City,Province
Sara Farooqi,Indus Hospital,Noman Chaudhry,58,Female,2023-05-22,2023-03-25,Malaria,24570,Yes,O+,151,117,37977648810,Peshawar,Khyber Pakhtunkhwa
Usman Khan,Civil Hospital Karachi,Mahnoor Qureshi,96,Female,2023-01-18,2023-04-08,COVID-19,220466,No,O+,196,117,36007550511,Rawalpindi,Punjab
Hassan Farooqi,Shaikh Zayed Hospital,Hira Ansari,64,Male,2023-01-05,2023-03-25,Diabetes,280817,Yes,A-,185,111,31638461648,Karachi,Khyber Pakhtunkhwa
Daniyal Siddiqui,Indus Hospital,Daniyal Ansari,47,Female,2023-11-28,2023-09-27,Cancer,219838,Yes,B+,197,96,31044609168,Rawalpindi,Sindh
Ali Butt,Civil Hospital Karachi,Ali Butt,80,Male,2023-07-06,2023-10-26,Cancer,318043,Yes,A+,174,112,32720530918,Karachi,Balochistan

In [91]:
data['Tax'] = data['Treatment Cost'] *0.05
data

,Hospital Name,Patient Name,Age,Gender,Date of Admission,Date of Discharge,Problem,Treatment Cost,Insurance,Blood Group,Height (cm),Weight (kg),Contact Number,City,Province,Tax
0,Indus Hospital,Noman Chaudhry,58,Female,2023-05-22,2023-03-25,Malaria,24570,Yes,O+,151,117,37977648810,Peshawar,Khyber Pakhtunkhwa,1228.50
1,Civil Hospital Karachi,Mahnoor Qureshi,96,Female,2023-01-18,2023-04-08,COVID-19,220466,No,O+,196,117,36007550511,Rawalpindi,Punjab,11023.30
2,Shaikh Zayed Hospital,Hira Ansari,64,Male,2023-01-05,2023-03-25,Diabetes,280817,Yes,A-,185,111,31638461648,Karachi,Khyber Pakhtunkhwa,14040.85
3,Indus Hospital,Daniyal Ansari,47,Female,2023-11-28,2023-09-27,Cancer,219838,Yes,B+,197,96,31044609168,Rawalpindi,Sindh,10991.90
4,Civil Hospital Karachi,Ali Butt,80,Male,2023-07-06,2023-10-26,Cancer,318043,Yes,A+,174,112,32720530918,Karachi,Balochistan,15902.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,Civil Hospital Karachi,Sara Farooqi,96,Female,2023-12-16,2023-10-22,Diabetes,336872,No,B+,181,78,35202879767,Rawalpindi,Sindh,16843.60
1996,Services Hospital,Usman Khan,28,Female,2023-05-07,2023-07-25,Diabetes,495301,Yes,O+,177,80,31581509478,Multan,Punjab,24765.05
1997,Nishtar Hospital,Amina Qureshi,98,Female,2023-09-11,2023-06-03,COVID-19,136213,Yes,B+,163,88,37870570657,Rawalpindi,Punjab,6810.65
1998,Pakistan Institute of Medical Sciences,Hassan Farooqi,60,Male,2023-12-27,2023-09-11,Tuberculosis,338865,Yes,O+,151,116,38390114480,Quetta,Khyber Pakhtunkhwa,16943.25
1999,Aga Khan University Hospital,Daniyal Siddiqui,46,Female,2023-10-15,2023-06-19,COVID-19,135737,Yes,O-,200,86,37952117014,Quetta,Punjab,6786.85

In [93]:
data['Weight (g)'] = data['Weight (kg)'] *1000
data

,Hospital Name,Patient Name,Age,Gender,Date of Admission,Date of Discharge,Problem,Treatment Cost,Insurance,Blood Group,Height (cm),Weight (kg),Contact Number,City,Province,Tax,Weight (g)
0,Indus Hospital,Noman Chaudhry,58,Female,2023-05-22,2023-03-25,Malaria,24570,Yes,O+,151,117,37977648810,Peshawar,Khyber Pakhtunkhwa,1228.50,117000
1,Civil Hospital Karachi,Mahnoor Qureshi,96,Female,2023-01-18,2023-04-08,COVID-19,220466,No,O+,196,117,36007550511,Rawalpindi,Punjab,11023.30,117000
2,Shaikh Zayed Hospital,Hira Ansari,64,Male,2023-01-05,2023-03-25,Diabetes,280817,Yes,A-,185,111,31638461648,Karachi,Khyber Pakhtunkhwa,14040.85,111000
3,Indus Hospital,Daniyal Ansari,47,Female,2023-11-28,2023-09-27,Cancer,219838,Yes,B+,197,96,31044609168,Rawalpindi,Sindh,10991.90,96000
4,Civil Hospital Karachi,Ali Butt,80,Male,2023-07-06,2023-10-26,Cancer,318043,Yes,A+,174,112,32720530918,Karachi,Balochistan,15902.15,112000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,Civil Hospital Karachi,Sara Farooqi,96,Female,2023-12-16,2023-10-22,Diabetes,336872,No,B+,181,78,35202879767,Rawalpindi,Sindh,16843.60,78000
1996,Services Hospital,Usman Khan,28,Female,2023-05-07,2023-07-25,Diabetes,495301,Yes,O+,177,80,31581509478,Multan,Punjab,24765.05,80000
1997,Nishtar Hospital,Amina Qureshi,98,Female,2023-09-11,2023-06-03,COVID-19,136213,Yes,B+,163,88,37870570657,Rawalpindi,Punjab,6810.65,88000
1998,Pakistan Institute of Medical Sciences,Hassan Farooqi,60,Male,2023-12-27,2023-09-11,Tuberculosis,338865,Yes,O+,151,116,38390114480,Quetta,Khyber Pakhtunkhwa,16943.25,116000
1999,Aga Khan University Hospital,Daniyal Siddiqui,46,Female,2023-10-15,2023-06-19,COVID-19,135737,Yes,O-,200,86,37952117014,Quetta,Punjab,6786.85,86000

In [95]:
data.drop(columns=['Age'])

,Hospital Name,Patient Name,Gender,Date of Admission,Date of Discharge,Problem,Treatment Cost,Insurance,Blood Group,Height (cm),Weight (kg),Contact Number,City,Province,Tax,Weight (g)
0,Indus Hospital,Noman Chaudhry,Female,2023-05-22,2023-03-25,Malaria,24570,Yes,O+,151,117,37977648810,Peshawar,Khyber Pakhtunkhwa,1228.50,117000
1,Civil Hospital Karachi,Mahnoor Qureshi,Female,2023-01-18,2023-04-08,COVID-19,220466,No,O+,196,117,36007550511,Rawalpindi,Punjab,11023.30,117000
2,Shaikh Zayed Hospital,Hira Ansari,Male,2023-01-05,2023-03-25,Diabetes,280817,Yes,A-,185,111,31638461648,Karachi,Khyber Pakhtunkhwa,14040.85,111000
3,Indus Hospital,Daniyal Ansari,Female,2023-11-28,2023-09-27,Cancer,219838,Yes,B+,197,96,31044609168,Rawalpindi,Sindh,10991.90,96000
4,Civil Hospital Karachi,Ali Butt,Male,2023-07-06,2023-10-26,Cancer,318043,Yes,A+,174,112,32720530918,Karachi,Balochistan,15902.15,112000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,Civil Hospital Karachi,Sara Farooqi,Female,2023-12-16,2023-10-22,Diabetes,336872,No,B+,181,78,35202879767,Rawalpindi,Sindh,16843.60,78000
1996,Services Hospital,Usman Khan,Female,2023-05-07,2023-07-25,Diabetes,495301,Yes,O+,177,80,31581509478,Multan,Punjab,24765.05,80000
1997,Nishtar Hospital,Amina Qureshi,Female,2023-09-11,2023-06-03,COVID-19,136213,Yes,B+,163,88,37870570657,Rawalpindi,Punjab,6810.65,88000
1998,Pakistan Institute of Medical Sciences,Hassan Farooqi,Male,2023-12-27,2023-09-11,Tuberculosis,338865,Yes,O+,151,116,38390114480,Quetta,Khyber Pakhtunkhwa,16943.25,116000
1999,Aga Khan University Hospital,Daniyal Siddiqui,Female,2023-10-15,2023-06-19,COVID-19,135737,Yes,O-,200,86,37952117014,Quetta,Punjab,6786.85,86000

In [97]:
data.drop(columns=['Gender'])

,Hospital Name,Patient Name,Age,Date of Admission,Date of Discharge,Problem,Treatment Cost,Insurance,Blood Group,Height (cm),Weight (kg),Contact Number,City,Province,Tax,Weight (g)
0,Indus Hospital,Noman Chaudhry,58,2023-05-22,2023-03-25,Malaria,24570,Yes,O+,151,117,37977648810,Peshawar,Khyber Pakhtunkhwa,1228.50,117000
1,Civil Hospital Karachi,Mahnoor Qureshi,96,2023-01-18,2023-04-08,COVID-19,220466,No,O+,196,117,36007550511,Rawalpindi,Punjab,11023.30,117000
2,Shaikh Zayed Hospital,Hira Ansari,64,2023-01-05,2023-03-25,Diabetes,280817,Yes,A-,185,111,31638461648,Karachi,Khyber Pakhtunkhwa,14040.85,111000
3,Indus Hospital,Daniyal Ansari,47,2023-11-28,2023-09-27,Cancer,219838,Yes,B+,197,96,31044609168,Rawalpindi,Sindh,10991.90,96000
4,Civil Hospital Karachi,Ali Butt,80,2023-07-06,2023-10-26,Cancer,318043,Yes,A+,174,112,32720530918,Karachi,Balochistan,15902.15,112000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,Civil Hospital Karachi,Sara Farooqi,96,2023-12-16,2023-10-22,Diabetes,336872,No,B+,181,78,35202879767,Rawalpindi,Sindh,16843.60,78000
1996,Services Hospital,Usman Khan,28,2023-05-07,2023-07-25,Diabetes,495301,Yes,O+,177,80,31581509478,Multan,Punjab,24765.05,80000
1997,Nishtar Hospital,Amina Qureshi,98,2023-09-11,2023-06-03,COVID-19,136213,Yes,B+,163,88,37870570657,Rawalpindi,Punjab,6810.65,88000
1998,Pakistan Institute of Medical Sciences,Hassan Farooqi,60,2023-12-27,2023-09-11,Tuberculosis,338865,Yes,O+,151,116,38390114480,Quetta,Khyber Pakhtunkhwa,16943.25,116000
1999,Aga Khan University Hospital,Daniyal Siddiqui,46,2023-10-15,2023-06-19,COVID-19,135737,Yes,O-,200,86,37952117014,Quetta,Punjab,6786.85,86000

In [9]:
data.filter(like='Age')

      Age
0      58
1      96
2      64
3      47
4      80
...   ...
1995   96
1996   28
1997   98
1998   60
1999   46

[2000 rows x 1 columns]

In [13]:
data.loc[:, ['Hospital Name', 'Age']]

                               Hospital Name  Age
0                             Indus Hospital   58
1                     Civil Hospital Karachi   96
2                      Shaikh Zayed Hospital   64
3                             Indus Hospital   47
4                     Civil Hospital Karachi   80
...                                      ...  ...
1995                  Civil Hospital Karachi   96
1996                       Services Hospital   28
1997                        Nishtar Hospital   98
1998  Pakistan Institute of Medical Sciences   60
1999            Aga Khan University Hospital   46

[2000 rows x 2 columns]

In [15]:
data.iloc[0:5, [0, 2]]

            Hospital Name  Age
0          Indus Hospital   58
1  Civil Hospital Karachi   96
2   Shaikh Zayed Hospital   64
3          Indus Hospital   47
4  Civil Hospital Karachi   80

In [17]:
data.select_dtypes(include=['object', 
'int64'])

,Hospital Name,Patient Name,Age,Gender,Date of Admission,Date of Discharge,Disease,Treatment Cost,Insurance,Blood Group,Height (cm),Weight (kg),Contact Number,City,Province
0,Indus Hospital,Noman Chaudhry,58,Female,2023-05-22,2023-03-25,Malaria,24570,Yes,O+,151,117,37977648810,Peshawar,Khyber Pakhtunkhwa
1,Civil Hospital Karachi,Mahnoor Qureshi,96,Female,2023-01-18,2023-04-08,COVID-19,220466,No,O+,196,117,36007550511,Rawalpindi,Punjab
2,Shaikh Zayed Hospital,Hira Ansari,64,Male,2023-01-05,2023-03-25,Diabetes,280817,Yes,A-,185,111,31638461648,Karachi,Khyber Pakhtunkhwa
3,Indus Hospital,Daniyal Ansari,47,Female,2023-11-28,2023-09-27,Cancer,219838,Yes,B+,197,96,31044609168,Rawalpindi,Sindh
4,Civil Hospital Karachi,Ali Butt,80,Male,2023-07-06,2023-10-26,Cancer,318043,Yes,A+,174,112,32720530918,Karachi,Balochistan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,Civil Hospital Karachi,Sara Farooqi,96,Female,2023-12-16,2023-10-22,Diabetes,336872,No,B+,181,78,35202879767,Rawalpindi,Sindh
1996,Services Hospital,Usman Khan,28,Female,2023-05-07,2023-07-25,Diabetes,495301,Yes,O+,177,80,31581509478,Multan,Punjab
1997,Nishtar Hospital,Amina Qureshi,98,Female,2023-09-11,2023-06-03,COVID-19,136213,Yes,B+,163,88,37870570657,Rawalpindi,Punjab
1998,Pakistan Institute of Medical Sciences,Hassan Farooqi,60,Male,2023-12-27,2023-09-11,Tuberculosis,338865,Yes,O+,151,116,38390114480,Quetta,Khyber Pakhtunkhwa
1999,Aga Khan University Hospital,Daniyal Siddiqui,46,Female,2023-10-15,2023-06-19,COVID-19,135737,Yes,O-,200,86,37952117014,Quetta,Punjab

In [19]:
data.select_dtypes(include=['int64'])

      Age  Treatment Cost  Height (cm)  Weight (kg)  Contact Number
0      58           24570          151          117     37977648810
1      96          220466          196          117     36007550511
2      64          280817          185          111     31638461648
3      47          219838          197           96     31044609168
4      80          318043          174          112     32720530918
...   ...             ...          ...          ...             ...
1995   96          336872          181           78     35202879767
1996   28          495301          177           80     31581509478
1997   98          136213          163           88     37870570657
1998   60          338865          151          116     38390114480
1999   46          135737          200           86     37952117014

[2000 rows x 5 columns]

In [21]:
data.isna()

,Hospital Name,Patient Name,Age,Gender,Date of Admission,Date of Discharge,Disease,Treatment Cost,Insurance,Blood Group,Height (cm),Weight (kg),Contact Number,City,Province
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [27]:
data.dropna()

,Hospital Name,Patient Name,Age,Gender,Date of Admission,Date of Discharge,Disease,Treatment Cost,Insurance,Blood Group,Height (cm),Weight (kg),Contact Number,City,Province
0,Indus Hospital,Noman Chaudhry,58,Female,2023-05-22,2023-03-25,Malaria,24570,Yes,O+,151,117,37977648810,Peshawar,Khyber Pakhtunkhwa
1,Civil Hospital Karachi,Mahnoor Qureshi,96,Female,2023-01-18,2023-04-08,COVID-19,220466,No,O+,196,117,36007550511,Rawalpindi,Punjab
2,Shaikh Zayed Hospital,Hira Ansari,64,Male,2023-01-05,2023-03-25,Diabetes,280817,Yes,A-,185,111,31638461648,Karachi,Khyber Pakhtunkhwa
3,Indus Hospital,Daniyal Ansari,47,Female,2023-11-28,2023-09-27,Cancer,219838,Yes,B+,197,96,31044609168,Rawalpindi,Sindh
4,Civil Hospital Karachi,Ali Butt,80,Male,2023-07-06,2023-10-26,Cancer,318043,Yes,A+,174,112,32720530918,Karachi,Balochistan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,Civil Hospital Karachi,Sara Farooqi,96,Female,2023-12-16,2023-10-22,Diabetes,336872,No,B+,181,78,35202879767,Rawalpindi,Sindh
1996,Services Hospital,Usman Khan,28,Female,2023-05-07,2023-07-25,Diabetes,495301,Yes,O+,177,80,31581509478,Multan,Punjab
1997,Nishtar Hospital,Amina Qureshi,98,Female,2023-09-11,2023-06-03,COVID-19,136213,Yes,B+,163,88,37870570657,Rawalpindi,Punjab
1998,Pakistan Institute of Medical Sciences,Hassan Farooqi,60,Male,2023-12-27,2023-09-11,Tuberculosis,338865,Yes,O+,151,116,38390114480,Quetta,Khyber Pakhtunkhwa
1999,Aga Khan University Hospital,Daniyal Siddiqui,46,Female,2023-10-15,2023-06-19,COVID-19,135737,Yes,O-,200,86,37952117014,Quetta,Punjab

In [57]:
data1= pd.read_csv(r'C:\Users\pc\Desktop\Copy of pakistan_education_data(1).csv')

In [39]:
data + data1

,Age,Blood Group,City,Contact Number,Date of Admission,Date of Discharge,Discipline,Disease,Extracurricular,FundingType,...,Patient Name,Program,Province,Scholarship,Status,StudentID,Treatment Cost,University,Weight (kg),Year
0,79.0,NaN,PeshawarFaisalabad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,116.0,NaN,RawalpindiMultan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,88.0,NaN,KarachiRawalpindi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,77.0,NaN,RawalpindiKarachi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,101.0,NaN,KarachiSargodha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
data

,StudentID,Name,University,City,Program,Level,Year,GPA,Status,Age,Discipline,FundingType,Scholarship,Hostel,Extracurricular
0,1987,Omar Rana,Lahore University of Management Sciences,Faisalabad,Social Sciences,Undergraduate,2024,3.37,Dropped,21,Science,Semi-Government,Yes,Yes,No
1,8391,Zara Sheikh,University of Balochistan,Multan,Medicine,Ph D,2022,3.98,Graduated,20,Science,Government,Yes,No,No
2,4976,Zara Saeed,University of Peshawar,Rawalpindi,Arts,Graduateivhb,2018,2.36,Graduated,24,Technology,Semi-Government,No,Yes,Yes
3,1598,Fatima Khan,Quaid-i-Azam University,Karachi,Engineering,Under graduate,2016,3.28,Graduated,30,Arts,Government,Yes,Yes,No
4,6836,Ahmed Malik,COMSATS Institute of Information Technology,Sargodha,Engineering,PhD,2016,3.47,Dropped,21,Humanities,Private,No,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013,5697,Fatima Chaudhry,COMSATS Institute of Information Technology,Quetta,Engineering,Graduate,2020,3.30,Dropped,25,Arts,Semi-Government,No,No,Yes
2014,1082,Aisha Chaudhry,National University of Sciences and Technology,Multan,Computer Science,Graduate,2023,3.37,Enrolled,23,Technology,Government,Yes,Yes,Yes
2015,4817,Ahmed Ansari,University of Peshawar,Faisalabad,Law,PhD,2021,3.65,Dropped,23,Commerce,Private,Yes,No,Yes
2016,9710,Aisha Khan,Quaid-i-Azam University,Karachi,Medicine,Undergraduate,2020,3.90,Graduated,18,Commerce,Private,No,Yes,No
2017,8151,Amina Butt,Karachi University,Hyderabad,Medicine,Graduate,2021,3.36,Enrolled,25,Science,Government,No,Yes,Yes

In [51]:
data.reindex(columns=['City', 'Program', 'Status'])

            City           Program     Status
0     Faisalabad   Social Sciences    Dropped
1         Multan          Medicine  Graduated
2     Rawalpindi              Arts  Graduated
3        Karachi       Engineering  Graduated
4       Sargodha       Engineering    Dropped
...          ...               ...        ...
2013      Quetta       Engineering    Dropped
2014      Multan  Computer Science   Enrolled
2015  Faisalabad               Law    Dropped
2016     Karachi          Medicine  Graduated
2017   Hyderabad          Medicine   Enrolled

[2018 rows x 3 columns]

In [65]:
data = data1.isna()

In [67]:
data

,StudentID,Name,University,City,Program,Level,Year,GPA,Status,Age,Discipline,FundingType,Scholarship,Hostel,Extracurricular
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2014,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2015,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2016,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2017,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [83]:
x= pd.DataFrame({
 'A': [1, 7, 0],
 'B': [9, 5, 8],
 'C': [7, 5, 8]
})
sum_rows = x.sum(axis=1)
sum_columns = x.sum(axis=0)

In [85]:
sum_rows

0    17
1    17
2    16
dtype: int64

In [87]:
sum_columns

A     8
B    22
C    20
dtype: int64