In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv(r"C:\Users\pc\Desktop\movies_initial - movies_initial.csv")

In [4]:
df.head(2)

,imdbID,title,year,rating,runtime,genre,released,director,writer,cast,...,imdbRating,imdbVotes,poster,plot,fullplot,language,country,awards,lastupdated,type
0,1,Carmencita,1894,NOT RATED,1 min,"Documentary, Short",NaN,William K.L. Dickson,NaN,Carmencita,...,5.9,1032.0,https://m.media-amazon.com/images/M/MV5BMjAzND...,Performing on what looks like a small wooden s...,Performing on what looks like a small wooden s...,NaN,USA,NaN,03:45.0,movie
1,5,Blacksmith Scene,1893,UNRATED,1 min,Short,1893-05-09,William K.L. Dickson,NaN,"Charles Kayser, John Ott",...,6.2,1189.0,NaN,Three men hammer on an anvil and pass a bottle...,A stationary camera looks at a large anvil wit...,NaN,USA,1 win.,03:50.1,movie

In [189]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46014 entries, 0 to 46013
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   imdbID       46014 non-null  int64
 1   title        46014 non-null  object
 2   year         45938 non-null  float64
 3   rating       24629 non-null  object
 4   runtime      0 non-null      float64
 5   genre        45615 non-null  object
 6   released     43002 non-null  object
 7   director     45409 non-null  object
 8   writer       42942 non-null  object
 9   cast         44928 non-null  object
 10  metacritic   9401 non-null   float64
 11  imdbRating   46014 non-null  float64
 12  imdbVotes    44299 non-null  float64
 13  poster       35798 non-null  object
 14  plot         42161 non-null  object
 15  fullplot     41421 non-null  object
 16  language     44899 non-null  object
 17  country      45830 non-null  object
 18  awards       23542 non-null  object
 19  lastupdated  46014 non-null  object
 20  type         45976 non-null  object
dtypes: float64(5), int64(1), object(15)
memory usage: 7.4+ MB

In [191]:
df.shape

(46014, 21)

In [5]:
df['runtime'] = pd.to_numeric(df['runtime'],errors = 'coerce')

In [6]:
df.dtypes

imdbID           int64
title           object
year            object
rating          object
runtime        float64
genre           object
released        object
director        object
writer          object
cast            object
metacritic     float64
imdbRating     float64
imdbVotes      float64
poster          object
plot            object
fullplot        object
language        object
country         object
awards          object
lastupdated     object
type            object
dtype: object

In [7]:
lng_movies = df['runtime']>1
lng_movies

0        False
1        False
2        False
3        False
4        False
         ...
46009    False
46010    False
46011    False
46012    False
46013    False
Name: runtime, Length: 46014, dtype: bool

In [8]:
high_rating = df['imdbRating']>8
high_rating

0        False
1        False
2        False
3        False
4        False
         ...
46009    False
46010    False
46011    False
46012    False
46013    False
Name: imdbRating, Length: 46014, dtype: bool

In [9]:
fil_movies = df.query('90<=runtime<=130')
fil_movies

Empty DataFrame
Columns: [imdbID, title, year, rating, runtime, genre, released, director, writer, cast, metacritic, imdbRating, imdbVotes, poster, plot, fullplot, language, country, awards, lastupdated, type]
Index: []

[0 rows x 21 columns]

In [10]:
df['imdbRating'] = df['imdbRating'].where(df['imdbRating']<=9,9)

In [11]:
df['imdbRating']

0        5.9
1        6.2
2        6.7
3        5.9
4        6.9
        ...
46009    9.0
46010    9.0
46011    9.0
46012    9.0
46013    9.0
Name: imdbRating, Length: 46014, dtype: float64

In [20]:
masked_movies = df.mask(df['year']>2010)
masked_movies
masked_movies_cleaned = masked_movies.dropna(how = 'all')
masked_movies_cleaned

,imdbID,title,year,rating,runtime,genre,released,director,writer,cast,...,imdbRating,imdbVotes,poster,plot,fullplot,language,country,awards,lastupdated,type
0,1.0,Carmencita,1894.0,NOT RATED,NaN,"Documentary, Short",NaN,William K.L. Dickson,NaN,Carmencita,...,5.9,1032.0,https://m.media-amazon.com/images/M/MV5BMjAzND...,Performing on what looks like a small wooden s...,Performing on what looks like a small wooden s...,NaN,USA,NaN,03:45.0,movie
1,5.0,Blacksmith Scene,1893.0,UNRATED,NaN,Short,1893-05-09,William K.L. Dickson,NaN,"Charles Kayser, John Ott",...,6.2,1189.0,NaN,Three men hammer on an anvil and pass a bottle...,A stationary camera looks at a large anvil wit...,NaN,USA,1 win.,03:50.1,movie
2,3.0,Pauvre Pierrot,1892.0,NaN,NaN,"Animation, Comedy, Short",1892-10-28,ï¿½mile Reynaud,NaN,NaN,...,6.7,566.0,NaN,"One night, Arlequin come to see his lover Colo...","One night, Arlequin come to see his lover Colo...",NaN,France,NaN,06:02.7,movie
3,8.0,Edison Kinetoscopic Record of a Sneeze,1894.0,NaN,NaN,"Documentary, Short",1894-01-09,William K.L. Dickson,NaN,Fred Ott,...,5.9,988.0,NaN,A man (Thomas Edison's assistant) takes a pinc...,A man (Edison's assistant) takes a pinch of sn...,NaN,USA,NaN,21:07.1,movie
4,10.0,Employees Leaving the Lumiï¿½re Factory,1895.0,NaN,NaN,"Documentary, Short",1895-03-22,Louis Lumiï¿½re,NaN,NaN,...,6.9,3469.0,NaN,A man opens the big gates to the Lumiï¿½re facto...,A man opens the big gates to the Lumiï¿½re facto...,NaN,France,NaN,03:56.6,movie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45265,4354616.0,Untitled Woody Allen Project,NaN,NaN,NaN,Comedy,NaN,NaN,Woody Allen,NaN,...,9.0,NaN,NaN,Plot unknown.,Plot unknown.,English,USA,NaN,14:06.0,series
45549,4584528.0,A Dancer's Life,1972.0,NaN,NaN,Documentary,9/12/1972,William Richert,NaN,"Janis Menken, Alan Menken, Daniel Joseph Giagn...",...,9.0,NaN,NaN,NaN,NaN,English,USA,NaN,34:10.2,movie
45613,4635282.0,The OA,NaN,NaN,NaN,Drama,NaN,NaN,NaN,Brit Marling,...,9.0,NaN,NaN,The plot is unknown at this time.,The plot is unknown at this time.,English,USA,NaN,13:39.7,series
45875,4876302.0,Collective: Unconscious,NaN,NaN,NaN,Drama,NaN,NaN,NaN,NaN,...,9.0,NaN,NaN,NaN,NaN,English,USA,NaN,47:43.7,series
45888,475380.0,Scenes of a Sexual Nature,2006.0,R,NaN,"Comedy, Drama, Romance",NaN,Ed Blum,Aschlin Ditta,"Holly Aird, Eileen Atkins, Hugh Bonneville, To...",...,6.1,4125.0,https://m.media-amazon.com/images/M/MV5BMTA5OT...,"Sex and love. Some seek it, some need it, some...",Various Londeners meet people in Hampstead Hea...,English,UK,1 nomination.,51:28.9,movie

In [14]:
df['year'] = pd.to_numeric(df['year'],errors = 'coerce')

In [30]:
x = df['imdbRating'].between(7,9)
x

0        False
1        False
2        False
3        False
4        False
         ...
46009     True
46010     True
46011     True
46012     True
46013     True
Name: imdbRating, Length: 46014, dtype: bool

In [32]:
y = df['year'].between(2000,2010)
y

0        False
1        False
2        False
3        False
4        False
         ...
46009    False
46010    False
46011    False
46012    False
46013    False
Name: year, Length: 46014, dtype: bool

In [36]:
final_criteria = x & y
final_criteria

0        False
1        False
2        False
3        False
4        False
         ...
46009    False
46010    False
46011    False
46012    False
46013    False
Length: 46014, dtype: bool

In [40]:
filter_movies_sql = df[final_criteria ]

filter_movies_sql

,imdbID,title,year,rating,runtime,genre,released,director,writer,cast,...,imdbRating,imdbVotes,poster,plot,fullplot,language,country,awards,lastupdated,type
18116,118694,In the Mood for Love,2000.0,PG,NaN,"Drama, Romance",3/9/2001,Kar Wai Wong,Kar Wai Wong,"Maggie Cheung, Tony Chiu Wai Leung, Ping Lam S...",...,8.1,67663.0,https://m.media-amazon.com/images/M/MV5BMTk0Mj...,"Two neighbors, a woman and a man, form a stron...","Set in Hong Kong, 1962, Chow Mo-Wan is a newsp...","Cantonese, Shanghainese, French","Hong Kong, China",Nominated for 1 BAFTA Film Award. Another 48 w...,14:09.3,movie
18172,118852,Chinese Coffee,2000.0,R,NaN,Drama,9/2/2000,Al Pacino,"Ira Lewis (play), Ira Lewis (screenplay)","Al Pacino, Jerry Orbach, Susan Floyd, Ellen Mc...",...,7.4,2545.0,https://m.media-amazon.com/images/M/MV5BMTc3Mj...,"Harry and Jake, two unsuccessful writers, spen...","When aging, unsuccessful Greenwich Village wri...",English,USA,NaN,16:30.8,movie
18203,118926,The Dancer Upstairs,2002.0,R,NaN,"Drama, Thriller, Crime",5/23/2003,John Malkovich,"Nicholas Shakespeare (novel), Nicholas Shakesp...","Javier Bardem, Juan Diego Botto, Laura Morante...",...,7.0,5359.0,https://m.media-amazon.com/images/M/MV5BMTIwNz...,A police detective in a South American country...,"The story of Detective Agustin Rejas, a man cl...","English, Quechua, Spanish","Spain, USA",1 win & 3 nominations.,12:12.1,movie
18598,120263,Songs from the Second Floor,2000.0,NOT RATED,NaN,"Comedy, Drama",10/6/2000,Roy Andersson,Roy Andersson,"Lars Nordh, Stefan Larsson, Bengt C.W. Carlsso...",...,7.7,11261.0,https://m.media-amazon.com/images/M/MV5BMTU2MT...,A film poem inspired by the Peruvian poet Cï¿½sa...,A film poem inspired by the Peruvian poet Cï¿½sa...,"Swedish, Russian","Sweden, Norway, Denmark",9 wins & 3 nominations.,24:02.1,movie
18651,120454,Vinyl,2000.0,NaN,NaN,Documentary,5/5/2000,Alan Zweig,NaN,"Alan Zweig, Harvey Pekar, Don McKellar, Alan W...",...,7.1,345.0,NaN,Alan Zweig investigates the wacky world of rec...,Alan Zweig investigates the wacky world of rec...,English,Canada,NaN,31:11.2,movie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43919,3610936,Gaiir,2009.0,NaN,NaN,Mystery,11/6/2009,Satish Rajwade,NaN,"Ankush Choudhary, Sandeep Kulkarni, Tejaswini ...",...,9.0,NaN,NaN,NaN,NaN,Marathi,India,NaN,52:53.6,movie
44006,3645848,Crossfire: Hate Is Like a Gun,2005.0,NaN,NaN,"Documentary, Short",7/5/2005,NaN,NaN,Edward Dmytryk,...,9.0,NaN,NaN,The making of Crossfire (1947).,NaN,English,NaN,NaN,30:50.8,movie
44326,3783464,Be dune saade chaar,2009.0,NaN,NaN,Comedy,NaN,Girish Mohite,"Abhay Dakhane, Aniruddh Potdar","Vandana Gupte, Mohan Joshi, Sanjay Narvekar, A...",...,9.0,NaN,NaN,NaN,NaN,Marathi,India,NaN,56:58.2,movie
44609,3948786,Memory Vague,2009.0,NaN,NaN,"Short, Music",8/1/2009,Daniel Lopatin,NaN,NaN,...,9.0,NaN,NaN,NaN,NaN,English,USA,NaN,33:40.0,movie
44763,4047734,Coelacanth: The Fish That Time Forgot,2001.0,NaN,NaN,Documentary,NaN,Celia Lowenstein,NaN,Robert Lindsay,...,9.0,NaN,NaN,NaN,NaN,English,UK,NaN,13:03.0,movie

In [53]:
z = df['rating'].between('PG','PG-13')

In [55]:
z

0        False
1        False
2        False
3        False
4        False
         ...
46009    False
46010    False
46011    False
46012    False
46013    False
Name: rating, Length: 46014, dtype: bool

In [57]:
final_criteria = x & y & z
final_criteria

0        False
1        False
2        False
3        False
4        False
         ...
46009    False
46010    False
46011    False
46012    False
46013    False
Length: 46014, dtype: bool

In [59]:
df[final_criteria]

,imdbID,title,year,rating,runtime,genre,released,director,writer,cast,...,imdbRating,imdbVotes,poster,plot,fullplot,language,country,awards,lastupdated,type
18116,118694,In the Mood for Love,2000.0,PG,NaN,"Drama, Romance",3/9/2001,Kar Wai Wong,Kar Wai Wong,"Maggie Cheung, Tony Chiu Wai Leung, Ping Lam S...",...,8.1,67663.0,https://m.media-amazon.com/images/M/MV5BMTk0Mj...,"Two neighbors, a woman and a man, form a stron...","Set in Hong Kong, 1962, Chow Mo-Wan is a newsp...","Cantonese, Shanghainese, French","Hong Kong, China",Nominated for 1 BAFTA Film Award. Another 48 w...,14:09.3,movie
18805,120737,The Lord of the Rings: The Fellowship of the Ring,2001.0,PG-13,NaN,"Adventure, Fantasy",12/19/2001,Peter Jackson,"J.R.R. Tolkien (novel), Fran Walsh (screenplay...","Alan Howard, Noel Appleby, Sean Astin, Sala Baker",...,8.8,1109724.0,https://m.media-amazon.com/images/M/MV5BNTEyMj...,A meek hobbit of the Shire and eight companion...,An ancient Ring thought lost for centuries has...,"English, Sindarin","New Zealand, USA",Won 4 Oscars. Another 110 wins & 100 nominations.,05:40.0,movie
18852,120903,X-Men,2000.0,PG-13,NaN,"Action, Adventure, Sci-Fi",7/14/2000,Bryan Singer,"Tom DeSanto (story), Bryan Singer (story), Dav...","Hugh Jackman, Patrick Stewart, Ian McKellen, F...",...,7.4,404410.0,https://m.media-amazon.com/images/M/MV5BMTYxMT...,Two mutants come to a private academy for thei...,In a world where both Mutants and Humans fear ...,English,USA,13 wins & 25 nominations.,02:59.8,movie
18870,121164,Corpse Bride,2005.0,PG,NaN,"Animation, Fantasy, Musical",9/23/2005,"Tim Burton, Mike Johnson","Tim Burton (characters), Carlos Grangel (chara...","Johnny Depp, Helena Bonham Carter, Emily Watso...",...,7.4,170384.0,https://m.media-amazon.com/images/M/MV5BMTk1MT...,When a shy groom practices his wedding vows in...,Set back in the late 1800s in a Victorian vill...,English,"UK, USA",Nominated for 1 Oscar. Another 11 wins & 19 no...,50:51.0,movie
18893,121766,Star Wars: Episode III - Revenge of the Sith,2005.0,PG-13,NaN,"Action, Adventure, Fantasy",5/19/2005,George Lucas,George Lucas,"Ewan McGregor, Natalie Portman, Hayden Christe...",...,7.7,440441.0,https://m.media-amazon.com/images/M/MV5BNTc4MT...,"As the Clone Wars near an end, the Sith Lord D...",Three years after the onset of the Clone Wars;...,English,USA,Nominated for 1 Oscar. Another 18 wins & 38 no...,05:05.4,movie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36675,1668200,Sarah's Key,2010.0,PG-13,NaN,"Drama, War",7/22/2011,Gilles Paquet-Brenner,"Tatiana De Rosnay (novel), Serge Joncour (scre...","Kristin Scott Thomas, Mï¿½lusine Mayance, Niels ...",...,7.5,11700.0,https://m.media-amazon.com/images/M/MV5BMTYyMz...,"In modern-day Paris, a journalist finds her li...",One of the darkest moments in French history o...,"French, English, Italian, German, Yiddish",France,4 wins & 4 nominations.,15:52.1,movie
36709,1673430,Superman/Batman: Apocalypse,2010.0,PG-13,NaN,"Animation, Action, Adventure",9/28/2010,Lauren Montgomery,"Bob Kane (creator), Jerry Siegel (creator), Jo...","Andre Braugher, Kevin Conroy, Tim Daly, Susan ...",...,7.1,14050.0,https://m.media-amazon.com/images/M/MV5BMTYzMD...,Batman discovers a mysterious teen-aged girl w...,Batman discovers a mysterious teen-aged girl w...,"English, French, Esperanto",USA,NaN,13:39.0,movie
36888,1696202,DC Showcase Original Shorts Collection,2010.0,PG-13,NaN,"Animation, Action, Adventure",11/9/2010,Joaquim Dos Santos,"Michael Jelenic, Joe R. Lansdale, Steve Niles,...","Jeff Bennett, Steve Blum, Zach Callison, Gary ...",...,7.6,2138.0,https://m.media-amazon.com/images/M/MV5BNDcyNz...,An anthology of DC Showcase stories consisting...,An anthology of DC Showcase stories consisting...,English,USA,NaN,57:06.9,movie
37056,1714832,Do Dooni Chaar,2010.0,PG,NaN,"Comedy, Drama",10/8/2010,Habib Faisal,"Habib Faisal (screenplay), Rahil Qazi (screenp...","Rishi Kapoor, Neetu Singh, Aditi Vasudev, Arch...",...,7.6,2827.0,https://m.media-amazon.com/images/M/MV5BMTQxNj...,A middle class family in India tries to buy a ...,Delhi-based math teacher Santosh Duggal drives...,Hindi,India,5 wins.,22:48.2,movie
37273,1740707,Trollhunter,2010.0,PG-13,NaN,"Comedy, Fantasy, Horror",10/29/2010,Andrï¿½ ï¿½vredal,Andrï¿½ ï¿½vredal,"Otto Jespersen, Glenn Erland Tosterud, Johanna...",...,7.0,48991.0,https://m.media-amazon.com/images/M/MV5BMTkyMT...,A group of students investigates a series of m...,"When bears are found dead in Norway, the stude...","Norwegian, English",Norway,9 wins & 11 nominations.,38:37.6,movie

In [63]:
final_criteria2 = x | y & z
final_criteria2

0        False
1        False
2        False
3        False
4        False
         ...
46009     True
46010     True
46011     True
46012     True
46013     True
Length: 46014, dtype: bool

In [69]:
df[final_criteria2]

,imdbID,title,year,rating,runtime,genre,released,director,writer,cast,...,imdbRating,imdbVotes,poster,plot,fullplot,language,country,awards,lastupdated,type
5,12,The Arrival of a Train,1896.0,NaN,NaN,"Documentary, Short",1896-01-01,"Auguste Lumiï¿½re, Louis Lumiï¿½re",NaN,NaN,...,7.3,5043.0,https://m.media-amazon.com/images/M/MV5BMjEyND...,A group of people are standing in a straight l...,A group of people are standing in a straight l...,NaN,France,NaN,02:53.4,movie
6,14,Tables Turned on the Gardener,1895.0,NaN,NaN,"Comedy, Short",NaN,Louis Lumiï¿½re,NaN,"Franï¿½ois Clerc, Benoï¿½t Duval",...,7.1,2554.0,NaN,"A gardener is watering his flowers, when a mis...","A gardener is watering his flowers, when a mis...",NaN,France,NaN,06:18.2,movie
16,211,A Trip to the Moon,1898.0,NaN,NaN,"Short, Fantasy",NaN,Georges Mï¿½liï¿½s,Georges Mï¿½liï¿½s (creator),Georges Mï¿½liï¿½s,...,7.6,1057.0,NaN,"""In the opening of this film is seen the astro...","""In the opening of this film is seen the astro...",NaN,France,NaN,20:20.3,movie
22,359,The India Rubber Head,1901.0,NaN,NaN,"Short, Comedy",NaN,Georges Mï¿½liï¿½s,NaN,Georges Mï¿½liï¿½s,...,7.2,1439.0,NaN,A chemist in his laboratory places upon a tabl...,A chemist in his laboratory places upon a tabl...,NaN,France,NaN,24:23.9,movie
25,417,A Trip to the Moon,1902.0,TV-G,NaN,"Short, Adventure, Fantasy",10/4/1902,Georges Mï¿½liï¿½s,NaN,"Franï¿½ois Lallement, Jules-Eugï¿½ne Legris",...,8.2,23904.0,https://m.media-amazon.com/images/M/MV5BMTQzMD...,A group of astronomers go on an expedition to ...,A group of men travel to the moon by being sho...,NaN,France,NaN,16:55.4,movie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46009,5005684,The New Classmate,2015.0,NaN,NaN,"Drama, Family",10/11/2015,Ashwiny Iyer Tiwari,NaN,"Swara Bhaskar, Ratna Pathak, Pankaj Tripathy",...,9.0,NaN,NaN,NaN,NaN,Hindi,India,NaN,28:58.9,movie
46010,5013056,Untitled Christopher Nolan Project,2017.0,NaN,NaN,Sci-Fi,7/21/2017,Christopher Nolan,"Christopher Nolan (screenplay), Christopher Nolan",NaN,...,9.0,NaN,NaN,Plot is being kept under wraps.,Plot is being kept under wraps.,English,"USA, UK",NaN,15:04.5,movie
46011,5013980,Die Turnschuh-Giganten,2016.0,NaN,NaN,"Biography, Drama, War",NaN,Oliver Dommenget,Christian Schnalke,"Ken Duken, Florian Bartholomï¿½i, Torben Liebrec...",...,9.0,NaN,NaN,NaN,NaN,German,Germany,NaN,13:49.0,movie
46012,5016760,The Monster of Mangatiti,2015.0,NaN,NaN,NaN,9/6/2015,NaN,John Banas,"Greta Gregory, Mark Mitchinson, Flynn Allan, H...",...,9.0,NaN,NaN,Heather Walsh tells her story of the time she ...,Heather Walsh tells her story of the time she ...,English,New Zealand,NaN,47:27.8,movie
46013,5023260,The Last Word,2016.0,NaN,NaN,Comedy,NaN,Mark Pellington,NaN,Amanda Seyfried,...,9.0,NaN,NaN,NaN,NaN,English,USA,NaN,27:50.2,movie

In [71]:
final_criteria3 = x | y | z
final_criteria3

0        False
1        False
2        False
3        False
4        False
         ...
46009     True
46010     True
46011     True
46012     True
46013     True
Length: 46014, dtype: bool

In [73]:
df[final_criteria3]

,imdbID,title,year,rating,runtime,genre,released,director,writer,cast,...,imdbRating,imdbVotes,poster,plot,fullplot,language,country,awards,lastupdated,type
5,12,The Arrival of a Train,1896.0,NaN,NaN,"Documentary, Short",1896-01-01,"Auguste Lumiï¿½re, Louis Lumiï¿½re",NaN,NaN,...,7.3,5043.0,https://m.media-amazon.com/images/M/MV5BMjEyND...,A group of people are standing in a straight l...,A group of people are standing in a straight l...,NaN,France,NaN,02:53.4,movie
6,14,Tables Turned on the Gardener,1895.0,NaN,NaN,"Comedy, Short",NaN,Louis Lumiï¿½re,NaN,"Franï¿½ois Clerc, Benoï¿½t Duval",...,7.1,2554.0,NaN,"A gardener is watering his flowers, when a mis...","A gardener is watering his flowers, when a mis...",NaN,France,NaN,06:18.2,movie
16,211,A Trip to the Moon,1898.0,NaN,NaN,"Short, Fantasy",NaN,Georges Mï¿½liï¿½s,Georges Mï¿½liï¿½s (creator),Georges Mï¿½liï¿½s,...,7.6,1057.0,NaN,"""In the opening of this film is seen the astro...","""In the opening of this film is seen the astro...",NaN,France,NaN,20:20.3,movie
22,359,The India Rubber Head,1901.0,NaN,NaN,"Short, Comedy",NaN,Georges Mï¿½liï¿½s,NaN,Georges Mï¿½liï¿½s,...,7.2,1439.0,NaN,A chemist in his laboratory places upon a tabl...,A chemist in his laboratory places upon a tabl...,NaN,France,NaN,24:23.9,movie
25,417,A Trip to the Moon,1902.0,TV-G,NaN,"Short, Adventure, Fantasy",10/4/1902,Georges Mï¿½liï¿½s,NaN,"Franï¿½ois Lallement, Jules-Eugï¿½ne Legris",...,8.2,23904.0,https://m.media-amazon.com/images/M/MV5BMTQzMD...,A group of astronomers go on an expedition to ...,A group of men travel to the moon by being sho...,NaN,France,NaN,16:55.4,movie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46009,5005684,The New Classmate,2015.0,NaN,NaN,"Drama, Family",10/11/2015,Ashwiny Iyer Tiwari,NaN,"Swara Bhaskar, Ratna Pathak, Pankaj Tripathy",...,9.0,NaN,NaN,NaN,NaN,Hindi,India,NaN,28:58.9,movie
46010,5013056,Untitled Christopher Nolan Project,2017.0,NaN,NaN,Sci-Fi,7/21/2017,Christopher Nolan,"Christopher Nolan (screenplay), Christopher Nolan",NaN,...,9.0,NaN,NaN,Plot is being kept under wraps.,Plot is being kept under wraps.,English,"USA, UK",NaN,15:04.5,movie
46011,5013980,Die Turnschuh-Giganten,2016.0,NaN,NaN,"Biography, Drama, War",NaN,Oliver Dommenget,Christian Schnalke,"Ken Duken, Florian Bartholomï¿½i, Torben Liebrec...",...,9.0,NaN,NaN,NaN,NaN,German,Germany,NaN,13:49.0,movie
46012,5016760,The Monster of Mangatiti,2015.0,NaN,NaN,NaN,9/6/2015,NaN,John Banas,"Greta Gregory, Mark Mitchinson, Flynn Allan, H...",...,9.0,NaN,NaN,Heather Walsh tells her story of the time she ...,Heather Walsh tells her story of the time she ...,English,New Zealand,NaN,47:27.8,movie
46013,5023260,The Last Word,2016.0,NaN,NaN,Comedy,NaN,Mark Pellington,NaN,Amanda Seyfried,...,9.0,NaN,NaN,NaN,NaN,English,USA,NaN,27:50.2,movie

In [77]:
u = df['country'] == 'USA'	
u

0         True
1         True
2        False
3         True
4        False
         ...
46009    False
46010    False
46011    False
46012    False
46013     True
Name: country, Length: 46014, dtype: bool

In [79]:
df[u]

,imdbID,title,year,rating,runtime,genre,released,director,writer,cast,...,imdbRating,imdbVotes,poster,plot,fullplot,language,country,awards,lastupdated,type
0,1,Carmencita,1894.0,NOT RATED,NaN,"Documentary, Short",NaN,William K.L. Dickson,NaN,Carmencita,...,5.9,1032.0,https://m.media-amazon.com/images/M/MV5BMjAzND...,Performing on what looks like a small wooden s...,Performing on what looks like a small wooden s...,NaN,USA,NaN,03:45.0,movie
1,5,Blacksmith Scene,1893.0,UNRATED,NaN,Short,1893-05-09,William K.L. Dickson,NaN,"Charles Kayser, John Ott",...,6.2,1189.0,NaN,Three men hammer on an anvil and pass a bottle...,A stationary camera looks at a large anvil wit...,NaN,USA,1 win.,03:50.1,movie
3,8,Edison Kinetoscopic Record of a Sneeze,1894.0,NaN,NaN,"Documentary, Short",1894-01-09,William K.L. Dickson,NaN,Fred Ott,...,5.9,988.0,NaN,A man (Thomas Edison's assistant) takes a pinc...,A man (Edison's assistant) takes a pinch of sn...,NaN,USA,NaN,21:07.1,movie
15,192,"Ella Lola, a la Trilby",1898.0,NaN,NaN,Short,NaN,James H. White,George L. Du Maurier (novel),Ella Lola,...,4.7,83.0,NaN,Dancer Ella Lola dances a routine based on the...,Dancer Ella Lola dances a routine based on the...,NaN,USA,NaN,19:44.1,movie
23,364,Panorama of Esplanade by Night,1901.0,NaN,NaN,"Documentary, Short",11/1/1901,Edwin S. Porter,NaN,NaN,...,5.6,87.0,NaN,A most perfect picture of the Pan-American Exp...,Panoramic view of the 1901 Pan-American Exposi...,English,USA,NaN,24:31.1,movie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45995,4981636,Middle School: The Worst Years of My Life,2016.0,NaN,NaN,Comedy,NaN,Steve Carr,"Chris Bowman (screenplay), Hubbel Palmer (scre...",Griffin Gluck,...,9.0,NaN,NaN,NaN,NaN,NaN,USA,NaN,52:16.7,movie
46001,4991652,Camino,2016.0,NaN,NaN,"Action, Adventure, Thriller",4/1/2016,Josh C. Waller,"Daniel Noah (screenplay), Daniel Noah (story),...",NaN,...,9.0,NaN,NaN,NaN,NaN,"English, Spanish",USA,NaN,14:53.9,movie
46003,4991512,Tramps,2015.0,NaN,NaN,NaN,NaN,Adam Leon,Adam Leon,"Callum Turner, Grace Van Patten, Ty Hickson, E...",...,9.0,NaN,NaN,NaN,NaN,English,USA,NaN,17:12.4,movie
46006,4995590,Junjun,2015.0,NaN,NaN,Documentary,10/8/2015,Paul Thomas Anderson,NaN,Jonny Greenwood,...,9.0,NaN,NaN,"Musician Jonny Greenwood travels to Rajasthan,...","Musician Jonny Greenwood travels to Rajasthan,...",English,USA,NaN,55:00.9,movie
46013,5023260,The Last Word,2016.0,NaN,NaN,Comedy,NaN,Mark Pellington,NaN,Amanda Seyfried,...,9.0,NaN,NaN,NaN,NaN,English,USA,NaN,27:50.2,movie

In [81]:
df['country']

0                USA
1                USA
2             France
3                USA
4             France
            ...
46009          India
46010        USA, UK
46011        Germany
46012    New Zealand
46013            USA
Name: country, Length: 46014, dtype: object

In [83]:
df2 = pd.read_csv(r"C:\Users\pc\Desktop\pakistan_population_statistics_2017_20190603.csv")

In [193]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433 entries, 0 to 432
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   admin3Name_en  433 non-null    object
 1   admin3Pcode    433 non-null    object
 2   admin2Name_en  433 non-null    object
 3   admin2Pcode    433 non-null    object
 4   admin1Name_en  433 non-null    object
 5   admin1Pcode    433 non-null    object
 6   admin0Name_en  433 non-null    object
 7   admin0Pcode    433 non-null    object
 8   Total_pop      433 non-null    float64
dtypes: float64(1), object(8)
memory usage: 30.6+ KB

In [195]:
df2.shape

(433, 9)

In [85]:
df2.columns

Index(['admin3Name_en', 'admin3Pcode', 'admin2Name_en', 'admin2Pcode',
       'admin1Name_en', 'admin1Pcode', 'admin0Name_en', 'admin0Pcode',
       ' Total_pop '],
      dtype='object')

In [93]:
population = df2[' Total_pop '] > 1000000
population

0       True
1       True
2      False
3      False
4      False
       ...
428    False
429    False
430    False
431    False
432    False
Name:  Total_pop , Length: 433, dtype: bool

In [89]:
 df2[' Total_pop '] > 1000000

0       True
1       True
2      False
3      False
4      False
       ...
428    False
429    False
430    False
431    False
432    False
Name:  Total_pop , Length: 433, dtype: bool

In [95]:
df2.dtypes

admin3Name_en     object
admin3Pcode       object
admin2Name_en     object
admin2Pcode       object
admin1Name_en     object
admin1Pcode       object
admin0Name_en     object
admin0Pcode       object
 Total_pop       float64
dtype: object

In [99]:
df2.head()

,admin3Name_en,admin3Pcode,admin2Name_en,admin2Pcode,admin1Name_en,admin1Pcode,admin0Name_en,admin0Pcode,Total_pop
0,Abbottabad,PK20101,Abbottabad,PK201,Khyber Pakhtunkhwa,PK2,Pakistan,PK,1332912.0
1,Ahmadupr East,PK60305,Bahawalpur,PK603,Punjab,PK6,Pakistan,PK,1078683.0
2,Ahmedpur Sial,PK61201,Jhang,PK612,Punjab,PK6,Pakistan,PK,433517.0
3,Alai,PK20301,Batagram,PK203,Khyber Pakhtunkhwa,PK2,Pakistan,PK,180414.0
4,Alipur,PK62301,Muzaffargarh,PK623,Punjab,PK6,Pakistan,PK,639748.0

In [113]:
city = df2['admin3Name_en'].between('Abbottabad','Alipur')	
city

0       True
1       True
2       True
3       True
4       True
       ...
428    False
429    False
430    False
431    False
432    False
Name: admin3Name_en, Length: 433, dtype: bool

In [117]:
code = df2['admin2Pcode'].between('PK201','PK623')
code

0       True
1       True
2       True
3       True
4       True
       ...
428     True
429     True
430    False
431    False
432    False
Name: admin2Pcode, Length: 433, dtype: bool

In [123]:
pop = df2[' Total_pop '].between(433517.0,1332912.0)
pop

0       True
1       True
2       True
3      False
4       True
       ...
428    False
429     True
430    False
431    False
432    False
Name:  Total_pop , Length: 433, dtype: bool

In [119]:
df2[' Total_pop ']

0      1332912.0
1      1078683.0
2       433517.0
3       180414.0
4       639748.0
         ...
428      52291.0
429     614143.0
430     102129.0
431     253632.0
432      67861.0
Name:  Total_pop , Length: 433, dtype: float64

In [143]:
final_criteria4 = city & code & pop
final_criteria4

0       True
1       True
2       True
3      False
4       True
       ...
428    False
429    False
430    False
431    False
432    False
Length: 433, dtype: bool

In [145]:
df2[final_criteria4]

,admin3Name_en,admin3Pcode,admin2Name_en,admin2Pcode,admin1Name_en,admin1Pcode,admin0Name_en,admin0Pcode,Total_pop
0,Abbottabad,PK20101,Abbottabad,PK201,Khyber Pakhtunkhwa,PK2,Pakistan,PK,1332912.0
1,Ahmadupr East,PK60305,Bahawalpur,PK603,Punjab,PK6,Pakistan,PK,1078683.0
2,Ahmedpur Sial,PK61201,Jhang,PK612,Punjab,PK6,Pakistan,PK,433517.0
4,Alipur,PK62301,Muzaffargarh,PK623,Punjab,PK6,Pakistan,PK,639748.0

In [149]:
final_criteria5 = city | code & pop
final_criteria5

0       True
1       True
2       True
3       True
4       True
       ...
428    False
429     True
430    False
431    False
432    False
Length: 433, dtype: bool

In [151]:
df2[final_criteria5]

,admin3Name_en,admin3Pcode,admin2Name_en,admin2Pcode,admin1Name_en,admin1Pcode,admin0Name_en,admin0Pcode,Total_pop
0,Abbottabad,PK20101,Abbottabad,PK201,Khyber Pakhtunkhwa,PK2,Pakistan,PK,1332912.0
1,Ahmadupr East,PK60305,Bahawalpur,PK603,Punjab,PK6,Pakistan,PK,1078683.0
2,Ahmedpur Sial,PK61201,Jhang,PK612,Punjab,PK6,Pakistan,PK,433517.0
3,Alai,PK20301,Batagram,PK203,Khyber Pakhtunkhwa,PK2,Pakistan,PK,180414.0
4,Alipur,PK62301,Muzaffargarh,PK623,Punjab,PK6,Pakistan,PK,639748.0
8,Attock,PK60101,Attock,PK601,Punjab,PK6,Pakistan,PK,434705.0
11,Babuzai,PK22201,Swat,PK222,Khyber Pakhtunkhwa,PK2,Pakistan,PK,599040.0
14,Bahawalnagar,PK60201,Bahawalnagar,PK602,Punjab,PK6,Pakistan,PK,815143.0
15,Bahawalpur,PK60301,Bahawalpur,PK603,Punjab,PK6,Pakistan,PK,1256646.0
21,Bannu,PK20201,Bannu,PK202,Khyber Pakhtunkhwa,PK2,Pakistan,PK,958504.0
23,Bara,PK23301,Khyber,PK233,Khyber Pakhtunkhwa,PK2,Pakistan,PK,444403.0
34,Bhakkar,PK60401,Bhakkar,PK604,Punjab,PK6,Pakistan,PK,685059.0
48,Chakwal,PK60501,Chakwal,PK605,Punjab,PK6,Pakistan,PK,656978.0
52,Charsadda,PK20501,Charsadda,PK205,Khyber Pakhtunkhwa,PK2,Pakistan,PK,1187959.0
58,Chishtian,PK60202,Bahawalnagar,PK602,Punjab,PK6,Pakistan,PK,691221.0
61,Chunian,PK61401,Kasur,PK614,Punjab,PK6,Pakistan,PK,825684.0
80,Dera Ismail Khan,PK20702,Dera Ismail Khan,PK207,Khyber Pakhtunkhwa,PK2,Pakistan,PK,1017361.0
91,Dunyapur,PK61901,Lodhran,PK619,Punjab,PK6,Pakistan,PK,495013.0
117,Hafizabad,PK61101,Hafizabad,PK611,Punjab,PK6,Pakistan,PK,663735.0
121,Haripur,PK20902,Haripur,PK209,Khyber Pakhtunkhwa,PK2,Pakistan,PK,857664.0
123,Haroonabad,PK60204,Bahawalnagar,PK602,Punjab,PK6,Pakistan,PK,525598.0
124,Hasilpur,PK60302,Bahawalpur,PK603,Punjab,PK6,Pakistan,PK,456006.0
136,Jalalpur Pirwala,PK62201,Multan,PK622,Punjab,PK6,Pakistan,PK,554152.0
144,Jatoi,PK62302,Muzaffargarh,PK623,Punjab,PK6,Pakistan,PK,714576.0
149,Jhelum,PK61302,Jhelum,PK613,Punjab,PK6,Pakistan,PK,445190.0
154,Kabirwala,PK61502,Khanewal,PK615,Punjab,PK6,Pakistan,PK,959861.0
156,Kahror Pacca,PK61902,Lodhran,PK619,Punjab,PK6,Pakistan,PK,500939.0
168,Kamoke,PK60902,Gujranwala,PK609,Punjab,PK6,Pakistan,PK,581444.0
179,Karor Lal Esan,PK61802,Layyah,PK618,Punjab,PK6,Pakistan,PK,594639.0
188,Khanewal,PK61503,Khanewal,PK615,Punjab,PK6,Pakistan,PK,856793.0
194,Kharian,PK61002,Gujrat,PK610,Punjab,PK6,Pakistan,PK,1010912.0
197,Khushab,PK61601,Khushab,PK616,Punjab,PK6,Pakistan,PK,807684.0
203,Kohat,PK21101,Kohat,PK211,Khyber Pakhtunkhwa,PK2,Pakistan,PK,850336.0
216,Lahor,PK22101,Swabi,PK221,Khyber Pakhtunkhwa,PK2,Pakistan,PK,598136.0
221,Lakki Marwat,PK21301,Lakki Marwat,PK213,Khyber Pakhtunkhwa,PK2,Pakistan,PK,579274.0
225,Layyah,PK61803,Layyah,PK618,Punjab,PK6,Pakistan,PK,977391.0
229,Lodhran,PK61903,Lodhran,PK619,Punjab,PK6,Pakistan,PK,704668.0
241,Mandi Bahauddin,PK62002,Mandi Bahauddin,PK620,Punjab,PK6,Pakistan,PK,668007.0
244,Mansehra,PK21602,Mansehra,PK216,Khyber Pakhtunkhwa,PK2,Pakistan,PK,1017643.0
257,Mian Channu,PK61504,Khanewal,PK615,Punjab,PK6,Pakistan,PK,761971.0
258,Mianwali,PK62102,Mianwali,PK621,Punjab,PK6,Pakistan,PK,767130.0
259,Minchinabad,PK60205,Bahawalnagar,PK602,Punjab,PK6,Pakistan,PK,526428.0
271,Multan Saddar,PK62202,Multan,PK622,Punjab,PK6,Pakistan,PK,1322756.0
286,Nowshera,PK21801,Nowshera,PK218,Khyber Pakhtunkhwa,PK2,Pakistan,PK,1081239.0
287,Nowshera Virkan,PK60903,Gujranwala,PK609,Punjab,PK6,Pakistan,PK,535746.0
293,Pabbi,PK21802,Nowshera,PK218,Khyber Pakhtunkhwa,PK2,Pakistan,PK,437301.0
304,Pattoki,PK61403,Kasur,PK614,Punjab,PK6,Pakistan,PK,934329.0
306,Phalia,PK62003,Mandi Bahauddin,PK620,Punjab,PK6,Pakistan,PK,553416.0
309,Pindi Bhattian,PK61102,Hafizabad,PK611,Punjab,PK6,Pakistan,PK,493222.0
365,Shorkot,PK61203,Jhang,PK612,Punjab,PK6,Pakistan,PK,548626.0
366,Shuabad,PK62204,Multan,PK622,Punjab,PK6,Pakistan,PK,609631.0
380,Summundari,PK60805,Faisalabad,PK608,Punjab,PK6,Pakistan,PK,643068.0
382,Swabi,PK22102,Swabi,PK221,Khyber Pakhtunkhwa,PK2,Pakistan,PK,698180.0
385,Takht Bhai,PK21703,Mardan,PK217,Khyber Pakhtunkhwa,PK2,Pakistan,PK,626523.0
387,Talagang,PK60504,Chakwal,PK605,Punjab,PK6,Pakistan,PK,527500.0
390,Tandlianwala,PK60806,Faisalabad,PK608,Punjab,PK6,Pakistan,PK,702733.0
399,Taunsa,PK60703,Dera Ghazi Khan,PK607,Punjab,PK6,Pakistan,PK,675756.0
405,Timergara,PK21402,Lower Dir,PK214,Khyber Pakhtunkhwa,PK2,Pakistan,PK,1057309.0
427,Wazirabad,PK60904,Gujranwala,PK609,Punjab,PK6,Pakistan,PK,830396.0
429,Yazman,PK60304,Bahawalpur,PK603,Punjab,PK6,Pakistan,PK,614143.0

In [153]:
final_criteria6 = city | code | pop
final_criteria6

0       True
1       True
2       True
3       True
4       True
       ...
428     True
429     True
430    False
431    False
432    False
Length: 433, dtype: bool

In [155]:
df2[final_criteria6]

,admin3Name_en,admin3Pcode,admin2Name_en,admin2Pcode,admin1Name_en,admin1Pcode,admin0Name_en,admin0Pcode,Total_pop
0,Abbottabad,PK20101,Abbottabad,PK201,Khyber Pakhtunkhwa,PK2,Pakistan,PK,1332912.0
1,Ahmadupr East,PK60305,Bahawalpur,PK603,Punjab,PK6,Pakistan,PK,1078683.0
2,Ahmedpur Sial,PK61201,Jhang,PK612,Punjab,PK6,Pakistan,PK,433517.0
3,Alai,PK20301,Batagram,PK203,Khyber Pakhtunkhwa,PK2,Pakistan,PK,180414.0
4,Alipur,PK62301,Muzaffargarh,PK623,Punjab,PK6,Pakistan,PK,639748.0
...,...,...,...,...,...,...,...,...,...
424,Wari,PK23004,Upper Dir,PK230,Khyber Pakhtunkhwa,PK2,Pakistan,PK,321807.0
426,Wazir,PK23901,FR Bannu,PK239,Khyber Pakhtunkhwa,PK2,Pakistan,PK,43114.0
427,Wazirabad,PK60904,Gujranwala,PK609,Punjab,PK6,Pakistan,PK,830396.0
428,Yaka Ghund,PK23507,Mohmand,PK235,Khyber Pakhtunkhwa,PK2,Pakistan,PK,52291.0
429,Yazman,PK60304,Bahawalpur,PK603,Punjab,PK6,Pakistan,PK,614143.0

In [175]:
pop_query = df2.query('639748.0<=Total_pop<=1332912.0')
pop_query

,admin3Name_en,admin3Pcode,admin2Name_en,admin2Pcode,admin1Name_en,admin1Pcode,admin0Name_en,admin0Pcode,Total_pop
0,Abbottabad,PK20101,Abbottabad,PK201,Khyber Pakhtunkhwa,PK2,Pakistan,PK,1332912.0
1,Ahmadupr East,PK60305,Bahawalpur,PK603,Punjab,PK6,Pakistan,PK,1078683.0
4,Alipur,PK62301,Muzaffargarh,PK623,Punjab,PK6,Pakistan,PK,639748.0
7,Arif Wala,PK62701,Pakpattan,PK627,Punjab,PK6,Pakistan,PK,854462.0
14,Bahawalnagar,PK60201,Bahawalnagar,PK602,Punjab,PK6,Pakistan,PK,815143.0
...,...,...,...,...,...,...,...,...,...
400,Taxila,PK63007,Rawalpindi,PK630,Punjab,PK6,Pakistan,PK,677951.0
405,Timergara,PK21402,Lower Dir,PK214,Khyber Pakhtunkhwa,PK2,Pakistan,PK,1057309.0
406,Toba Tek Singh,PK63503,Toba Tek Singh,PK635,Punjab,PK6,Pakistan,PK,1162157.0
420,Vehari,PK63603,Vehari,PK636,Punjab,PK6,Pakistan,PK,928166.0
427,Wazirabad,PK60904,Gujranwala,PK609,Punjab,PK6,Pakistan,PK,830396.0

In [163]:
df2[' Total_pop '] = pd.to_numeric(df2[' Total_pop '], errors='coerce')

In [167]:
df2.columns

Index(['admin3Name_en', 'admin3Pcode', 'admin2Name_en', 'admin2Pcode',
       'admin1Name_en', 'admin1Pcode', 'admin0Name_en', 'admin0Pcode',
       ' Total_pop '],
      dtype='object')

In [171]:
df2.rename(columns={' Total_pop ': 'Total_pop'}, inplace=True)

In [179]:
df2['Total_pop'] = df2['Total_pop'].where(df2['Total_pop']<= 800000,800000)
df2['Total_pop']

0      800000.0
1      800000.0
2      433517.0
3      180414.0
4      639748.0
         ...
428     52291.0
429    614143.0
430    102129.0
431    253632.0
432     67861.0
Name: Total_pop, Length: 433, dtype: float64

In [183]:
#mask
masked_pop=df2.mask(df2['Total_pop']>800000.0)
masked_pop

,admin3Name_en,admin3Pcode,admin2Name_en,admin2Pcode,admin1Name_en,admin1Pcode,admin0Name_en,admin0Pcode,Total_pop
0,Abbottabad,PK20101,Abbottabad,PK201,Khyber Pakhtunkhwa,PK2,Pakistan,PK,800000.0
1,Ahmadupr East,PK60305,Bahawalpur,PK603,Punjab,PK6,Pakistan,PK,800000.0
2,Ahmedpur Sial,PK61201,Jhang,PK612,Punjab,PK6,Pakistan,PK,433517.0
3,Alai,PK20301,Batagram,PK203,Khyber Pakhtunkhwa,PK2,Pakistan,PK,180414.0
4,Alipur,PK62301,Muzaffargarh,PK623,Punjab,PK6,Pakistan,PK,639748.0
...,...,...,...,...,...,...,...,...,...
428,Yaka Ghund,PK23507,Mohmand,PK235,Khyber Pakhtunkhwa,PK2,Pakistan,PK,52291.0
429,Yazman,PK60304,Bahawalpur,PK603,Punjab,PK6,Pakistan,PK,614143.0
430,Zehri,PK71404,Khuzdar,PK714,Balochistan,PK7,Pakistan,PK,102129.0
431,Zhob,PK73002,Zhob,PK730,Balochistan,PK7,Pakistan,PK,253632.0
432,Ziarat,PK73102,Ziarat,PK731,Balochistan,PK7,Pakistan,PK,67861.0

In [185]:
masked_pop_cleaned=masked_pop.dropna(how='all')
masked_pop_cleaned

,admin3Name_en,admin3Pcode,admin2Name_en,admin2Pcode,admin1Name_en,admin1Pcode,admin0Name_en,admin0Pcode,Total_pop
0,Abbottabad,PK20101,Abbottabad,PK201,Khyber Pakhtunkhwa,PK2,Pakistan,PK,800000.0
1,Ahmadupr East,PK60305,Bahawalpur,PK603,Punjab,PK6,Pakistan,PK,800000.0
2,Ahmedpur Sial,PK61201,Jhang,PK612,Punjab,PK6,Pakistan,PK,433517.0
3,Alai,PK20301,Batagram,PK203,Khyber Pakhtunkhwa,PK2,Pakistan,PK,180414.0
4,Alipur,PK62301,Muzaffargarh,PK623,Punjab,PK6,Pakistan,PK,639748.0
...,...,...,...,...,...,...,...,...,...
428,Yaka Ghund,PK23507,Mohmand,PK235,Khyber Pakhtunkhwa,PK2,Pakistan,PK,52291.0
429,Yazman,PK60304,Bahawalpur,PK603,Punjab,PK6,Pakistan,PK,614143.0
430,Zehri,PK71404,Khuzdar,PK714,Balochistan,PK7,Pakistan,PK,102129.0
431,Zhob,PK73002,Zhob,PK730,Balochistan,PK7,Pakistan,PK,253632.0
432,Ziarat,PK73102,Ziarat,PK731,Balochistan,PK7,Pakistan,PK,67861.0